@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate text-charcoal antialiased;
}

::selection {
  background-color: theme('colors.indigo');
  color: white;
}
